* {
    margin: 0px;
    height: 100%;
}

.container {
  border: 2px red solid;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#feed {
  grid-area: 4 / 2 / 5 / 3;
}

/* .div2 {
  grid-area: 4 / 3 / 5 / 4;
}

.div3 {
  grid-area: 4 / 4 / 5 / 5;
}

.div4 {
  grid-area: 5 / 1 / 6 / 6;
}

.div5 {
  grid-area: 1 / 1 / 4 / 6;
} */
