* {
    margin: 0px;
    height: 100%;
}


.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#sprite{
  border: solid 6px green;
  border-radius: 10px;
  grid-area: 2 / 2 / 4 / 4;
  background-color: white;
}

#poop{
  grid-area: 3 / 6 / 4 / 6;
  color: brown;
  border: 2px solid brown;
}  

#feed {
  grid-area: 5 / 3 / 6 / 4;
}

#check {
  grid-area: 5 / 4 / 6 / 5;
}

#clean {
  grid-area: 5 / 5 / 6 / 6;
}
